# Module 2 Live Coding

## 1/22/2025

### Clay Harris

In [1]:
import numpy as np
import pandas as pd

In [2]:
gallup = pd.read_csv('USAIPO1936-0053.csv')

In [3]:
gallup.head(3).T

,0,1,2
form,NaN,NaN,NaN
state,Indiana,Illinois,Michigan
region,East Central,East Central,East Central
female,Male,Male,Male
age,NaN,NaN,NaN
class,Av+,Av+,Av
OCCUPATION1,Skilled workers,Skilled workers,Business
OCCUPATION2,NaN,NaN,NaN
OCCUPATION3,NaN,NaN,NaN
black,NaN,NaN,NaN
size,Urban,Urban,Urban
education,NaN,NaN,NaN
AGE_3WAY,NaN,NaN,NaN
AGE40,NaN,NaN,NaN
OCC8,Labor,Labor,Professional
prof,Not Professional,Not Professional,Professional
REGION4,Midwest,Midwest,Midwest
EDU_RECODE,NaN,NaN,NaN
VOTE_PRO,Landon,Landon,Landon
VOTE_RETRO,Hoover,Hoover,Hoover
PHONE_RECODE,NaN,NaN,NaN
CAR_RECODE,NaN,NaN,NaN
ballot,53,53,53
Q1,Yes,Yes,No
Q2,Yes,NaN,No
Q3,Yes,Yes,Yes
Q4A,Roosevelt,Landon,Landon
Q4B,Roosevelt,Landon,Landon
Q4C,Landon,Landon,Landon
Q5A,Landon,Landon,Landon
Q5B,"Yes, voted for Hoover","Yes, voted for Hoover","Yes, voted for Hoover"
farm,Non-Farm,Non-Farm,Non-Farm
SIZE3,Urban,Urban,Urban
urban,Urban,Urban,Urban
StPOAbrv,in,il,mi
SOUTH11,Non-South,Non-South,Non-South
SOUTH11xBLACK,NaN,NaN,NaN
SOUTH12,Non-South,Non-South,Non-South
SOUTH12xBLACK,NaN,NaN,NaN
south,Non-South,Non-South,Non-South
SOUTHxBLACK,NaN,NaN,NaN
year,1936,1936,1936
WtPubFeas,NaN,NaN,NaN
WtVotFeas,NaN,NaN,NaN

In [4]:
pd.crosstab(gallup['Q3'], gallup['Q5A'])

Q5A  Landon  Lemke  Other party  Roosevelt  Thomas
Q3
No      921     41            6        442      10
Yes     820    109            6       2048      41

In [5]:
russia = pd.read_csv('31121192.csv', encoding='latin')

In [6]:
pd.set_option('display.max_rows', 100)

russia.head(3).T

,0,1,2
ID,07be41c53bcceee9,07be53db55cce7de,07be51ae2c0ce678
SEX,Male,Female,Male
AGE,74,54,78
EDU,Secondary special education (technical school),Two or more completed programs of higher educa...,Two or more completed programs of higher educa...
REGION,The Vologda Region,The Kaliningrad Region,The Pskov Region
city_typ1,A town with a population from 50 thousand to 1...,A town with a population from 50 thousand to 1...,A city with a population from 100 thousand to ...
Q2_1,Approve,Approve,Approve
q2_4,,,
q2_5,,,
q2_6,,,
q2_7,,,
q2_8,,,
q2_9,,,
q2_10,,,
q2_11,,,
q2_12,,,
q2_13,,,
q2_14,,,
q2_15,,,
q2_16,,,
q2_17,,,
CHOICE,The Yabloko Party,The Yabloko Party,The Yabloko Party
q11,Unlikely,Highly likely,Unlikely
q12,"Highly likely, I will not take part in them","Highly likely, I will take part in them","Highly likely, I will not take part in them"
TV,I watch TV few times a week,"I watch TV daily, for less than 4 hours a day",Never
d1,Never,I spend over 4 hours in the Internet every day,"I use the Internet daily, less than 4 hours a day"
DOHOD_0,Good,Average,Average
PROF1,in paid work and also retired,in paid work and also retired,Retired (not paid for by employer) (including ...
q7_1k,,,
q7_2k,,,
q7_3k,,,
q7_4k,,,
q7_5k,,,
ss2,,,
ek2,,,
ek3,,,
ek4,,,
ek5,,,
ek6_1,,,
ek6_2,,,
ek6_3,,,
ek6_4,,,
ek6_5,,,
ek6_6,,,
ek6_7,,,
ek6_8,,,
ek7,,,
ek8.1,,,
ek8.1N,,,
ek8.2,,,
ek8.2N,,,
ss3_1,,,
ss3_2,,,
ss3_3,,,
ss3_4,,,
ss3_5,,,
ss5_2,,,
ss6,,,
ss7_1,,,
ss7_2,,,
ss8,,,
weight1,0.873459,0.945642,0.646816

In [7]:
russia['Q2_1'].value_counts()

Q2_1
Approve        37572
Disapprove      6638
Do not know     3966
Name: count, dtype: int64

In [8]:
widthsdata = pd.read_csv('USIA data widths - Sheet1.csv')

In [9]:
usia = pd.read_fwf('i20068.dat', widths=widthsdata['Width'], header=None)

In [10]:
usia

,0,1,2,3,4,5,6,7,8,9,...,126,127,128,129,130,131,132,133,134,135
0,1,155.0,2.0,1.0,2.0,108.0,12.0,14.0,2.0,3.0,...,15.0,NaN,62.0,NaN,4.0,4.0,NaN,6.0,4.0,NaN
1,2,155.0,2.0,1.0,2.0,120.0,9.0,13.0,1.0,1.0,...,16.0,NaN,61.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN
2,3,155.0,2.0,1.0,2.0,102.0,14.0,NaN,2.0,2.0,...,15.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN
3,4,155.0,2.0,1.0,2.0,129.0,9.0,13.0,2.0,3.0,...,16.0,NaN,51.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN
4,5,155.0,2.0,1.0,1.0,1.0,13.0,9.0,2.0,2.0,...,16.0,NaN,71.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,2248,283.0,2.0,2.0,2.0,102.0,6.0,11.0,2.0,2.0,...,12.0,1.0,72.0,NaN,5.0,7.0,NaN,7.0,2.0,NaN
2034,2249,283.0,2.0,2.0,8.0,NaN,98.0,NaN,8.0,8.0,...,15.0,1.0,72.0,NaN,4.0,1.0,NaN,1.0,7.0,NaN
2035,2250,283.0,2.0,2.0,9.0,NaN,98.0,NaN,3.0,3.0,...,13.0,1.0,72.0,NaN,3.0,6.0,NaN,4.0,4.0,NaN
2036,2251,255.0,1.0,2.0,2.0,163.0,9.0,6.0,3.0,4.0,...,11.0,1.0,72.0,NaN,3.0,6.0,NaN,1.0,5.0,NaN
2037,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN